

body {
    background-color: C5FFF8;
    background-size: auto;
    outline:5px solid black ;
    padding-left: 50px;
    padding-top: 50px;
    margin-bottom: 1000px;
    border-top: 50px;
    
}


*{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: 96EFFF;
    display: flex;
justify-content: center;
justify-content: space-evenly;
font-size: smaller;
color-scheme: DCF2F1;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
border-radius: 65px;

}

a{
    text-decoration: none;
    color: black;
}

.s5{
    padding-left:50px ;
}

.s2{
border-top: 100px;
}
